<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class= "top-bar">
    <% if current_user  %>
      <h3>Welcome, <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
      <%= link_to "Logout", logout_path %>
      <% else %>
      <%= link_to "Sign in with Google", "/auth/google" %>
    <% end %>
  </div>
    <div id="app">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
